:root {
  --black: #22282d;
  --gray: #dbdddd;
}

html,
body {
  height: 100%;
  margin: 0;
  user-select: none;
  cursor: default;
}

body {
  overflow: hidden; /* prevent scrolling */
}

#app {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
#menu {
  max-height: 100%;
  overflow: auto;
  width: 200px;
  background: whitesmoke;
  padding: 0;
  margin: 10px;
  margin-top: 0;
  margin-left: 0;
}
#menu > div > p {
  margin: 10px;
}
#menu .pt-popover-target {
  width: 100%;
}
#editors .pt-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#editors .pt-tabs .pt-tab-panel {
  flex-grow: 1;
}
#editors .pt-tabs .pt-tab-panel .editor {
  height: calc(100vh - 120px);
  width: 800px;
}
#previews {
  flex-grow: 1;
}

#previews > div {
  height: 100%;
}

.monaco-editor .error {
  background-color: rgba(255, 115, 115, 0.5);
}

.monaco-editor .warning {
  background-color: rgba(255, 201, 64, 0.5);
}

.monaco-editor .inspector {
  background-color: rgba(160, 198, 232, 0.5);
}

#previews-markup {
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  overflow: auto;
  max-height: 100%;
  height: calc(100% - 30px);
}

#previews-markup .preview > p {
  font-size: 12px;
  margin: 0;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  background-color: whitesmoke;
  border-radius: 3px 3px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.5em 0.75em;
}

#previews-markup .preview-bar {
  float: right;
  font-size: 14px;
}

#previews-markup .preview-bar > * {
  margin-left: 10px;
}

#previews-markup .preview-bar .pt-icon-error {
  color: #c23030;
}

#previews-markup .preview-bar .pt-icon-error::before {
  margin-right: 5px;
}

#previews-markup .preview .preview-content {
  all: initial;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

#previews-markup .preview .preview-content.hidden {
  display: none;
}

#previews-markup.show-grid .preview .preview-content {
  background: url('./assets/grid.png');
  background-size: 16px 16px;
}

body {
  -webkit-app-region: drag;
}

.navbar-brand {
  align-items: center;
  font-size: 110%;
  font-weight: bold;
  padding: 0 10px;
}

.new-component {
  margin-bottom: 10px;
}

.new-component a {
  width: 100%;
}

#menu .menu-list {
  padding-bottom: 10px;
}

.no-drag,
button,
.button,
input,
.preview-content,
.editor {
  -webkit-app-region: no-drag;
}

.pt-navbar {
  box-shadow: none;
}

.output {
  right: 0;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.output button {
  float: right;
}

.output-code {
  flex-grow: 1;
  display: flex;
}

.output-code textarea {
  flex-grow: 1;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
}

#editors .pt-tab-panel[aria-hidden="true"] {
  display: block;
  visibility: hidden;
  margin-left: -100vw;
  position: absolute;
}

.pt-tree-node {
  cursor: pointer;
}

.pt-tab-list {
  margin: 0 auto;
}

.pt-popover-backdrop {
  background: rgba(0, 0, 0, 0.2);
}

.input-popover input {
  width: 300px;
}

.preview-content-overlay {
  position: absolute;
  content: '';
  color: transparent;
  background-color: rgba(200, 200, 200, 0.5);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  bottom: 0;
  border: 20px solid rgba(200, 200, 200, 0.5);
  border-right: none;
}

.preview-diff {
  padding: 5px 10px;
}

.drop-zone {
  background: #ccc;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.drop-zone p {
  pointer-events: none;
}
