:root {
  --black: #22282D;
  --gray: #DBDDDD;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue';
}
#components {
  max-height: 100%;
  overflow: auto;
  padding: 10px;
  width: 200px;
}
#component {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
#editors {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--gray);
}
.editor {
  height: 33%;
  border-bottom: 1px solid var(--gray);
}
.editor:last-child {
  border: none;
}
#preview {
  flex-grow: 1
}
.preview-content {
  all: initial;
}

.CodeMirror {
  max-height: 100%;
  width: 400px;
  font-size: 12px;
}

.CodeMirror .error {
  background-color: #FF7373;
}

.CodeMirror .warning {
  background-color: #FFC940;
}

#preview-markup {
  overflow: auto;
  max-height: 100%;
}

#preview-markup .preview > p {
  font-size: 12px;

  background-color: whitesmoke;
  border-radius: 3px 3px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.5em 0.75em;
}

#preview-markup .preview .preview-content {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
