:root {
  --black: #22282d;
  --gray: #dbdddd;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  user-select: none;
  cursor: default;
}

body {
  overflow: hidden; /* prevent scrolling */
}

#app {
  height: 100%;
}

#app > div {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.ant-layout-sider {
  min-width: 200px;
}

#editors {
  margin: 0 10px;
}

#editors .editor {
  height: calc(100vh - 125px);
}

span.error {
  color: #f5222d;
}

.monaco-editor .error {
  background-color: rgba(255, 115, 115, 0.5);
}

.monaco-editor .warning {
  background-color: rgba(255, 201, 64, 0.5);
}

.monaco-editor .info {
  background-color: rgba(160, 198, 232, 0.5);
}

.monaco-editor .success {
  background-color: rgba(196, 223, 184, 0.5);
}

.glyph {
  cursor: pointer;
}

.previews-markup .preview-bar {
  float: right;
  margin-right: 5px;
}

.previews-markup .preview-bar > * {
  margin-left: 10px;
}

.previews-markup.show-grid .ant-collapse-content {
  background: url('./assets/grid.png');
  background-size: 16px 16px;
}

body {
  -webkit-app-region: drag;
}

.navbar-brand {
  align-items: center;
  font-size: 110%;
  font-weight: bold;
  padding: 0 10px;
}

.no-drag,
button,
.button,
input,
.preview-content,
.editor {
  -webkit-app-region: no-drag;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

body.loading #app {
  display: none;
}

.input-popover input {
  width: 300px;
}

.preview-content-overlay {
  position: absolute;
  background-color: rgba(200, 200, 200, 0.5);
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 10px solid transparent;
  pointer-events: none;
}

.preview-diff {
  padding: 5px 20px;
}

.drop-zone {
  background: #ccc;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.drop-zone p {
  pointer-events: none;
  text-align: center;
  width: 100%;
}

.hidden-action-group .hidden-action {
  visibility: hidden;
}

.hidden-action-group:hover .hidden-action {
  visibility: visible;
}

#blank-slate {
  display: none;
  width: calc(100vw - 200px);
}

.content.blank-slate #previews,
.content.blank-slate #editors {
  display: none;
}

.content.blank-slate #blank-slate {
  display: block;
}

#open {
  text-align: center;
  margin-top: 30vh;
}

.spinner-centered.spinner-centered {
  display: block;
  margin: 0 auto;
}

.logo {
  float: left;
  color: white;
  font-size: 30px;
}

.ant-layout-header {
  padding-left: 21px;
  padding-right: 5px;
}

#navbar {
  padding-top: 10px;
}

#style-palette {
  padding-left: 20px;
  max-height: 100%;
  overflow: auto;
}

.ant-collapse-content {
  background: whitesmoke;
}
